@import 'components/color';
@import 'components/variables';

$primary-color: color("pink", "lighten-2");
$radio-fill-color: color("light-blue", "darken-2");
$input-focus-color: $primary-color;
$button-color: color("grey", "darken-1");

@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

@media only screen and (max-width : 992px) {
  header, main, footer, nav {
    padding-left: 0;
  }
}

.container {
  padding: 0;
}

.side-nav ul {
  margin: 0;
}

nav {
  .search-form {
    display: inline;
  }
}

#search-modal.modal {
  @media #{$medium-and-down} {
   width: 90%;
  }
}

.breadcrumbs {
  margin: 20px 10px 10px 10px;
}

.action-float {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
}

.user-profile {
  padding: 15px 5px;
  background: url('/assets/images/profile-bg.png');
  .settings {
    position: absolute;
    top: 0;
    right: 0;
    a {
      color: color('grey', 'darken-1');
      &:hover, &:focus {
        color: color('grey', 'lighten-1');
      }
    }
  }
}

.scoreboard {
  .score {
    padding: 10px 0;
  }
  h3, h4, h5, h6, small {
    padding: 0;
    margin: 0;
  }
}

.card .card-action a {
  color: color('pink', 'lighten-2');
  &:hover, &:focus {
    color: color('pink', 'darken-2');
  }
}
