<div class="row login">
  <div class='col s12 m4 offset-m4'>
    <div class='center'>
      {{#link-to 'home' class='logo dark-logo md-logo'}}
        {{fa-icon "lightbulb-o"}}
        Hisight
      {{/link-to}}
    </div>
    <div class='card'>
      <span class='card-title center'><h4>Login</h4></span>
      <form {{action 'authenticate' on='submit'}}>
        <div class='card-form'>
          <div class='input-field'>
            <i class='mdi-action-perm-identity prefix'></i>
            {{input id='identification' placeholder='Enter Email Address' value=identification}}
          </div>
          <div class='input-field'>
            <i class="mdi-action-lock prefix"></i>
            {{input id='password' placeholder='Enter Password' type='password' value=password}}
          </div>
        </div>
        <div class='card-action'>
          <button class='btn btn-flat info col s10 offset-s1' type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
