<div class='breadcrumbs grey-text'>
  {{#link-to 'dashboard.index'}}
  <i class='mdi-action-home'></i>
  Home
  {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  Search
</div>
<nav class='search-nav'>
  <div class='nav-wrapper'>
    <form>
      <div class="input-field">
        <input id="search" type="search" placeholder='What are you looking for?'>
        <label for="search"><i class="mdi-action-search"></i></label>
      </div>
    </form>
  </div>
</nav>

<div class="row">
  <div class="col s12">
    <div class='card'>
      <ul class="tabs">
        <li class="tab col s4"><a class='active'>All</a></li>
        <li class="tab col s4"><a>Ideas</a></li>
        <li class="tab col s4"><a >Projects</a></li>
      </ul>
    </div>
  </div>
</div>
