<div class='breadcrumbs grey-text'>
  {{#link-to 'app.dashboard'}}
    <i class='mdi-action-home'></i>
    Home
  {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  Projects
</div>
<div class="row">
  {{#each model.projects key='@index' as |project|}}
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">{{project.name}}</span>
        <p>{{{project.description}}}</p>
      </div>
      <div class="card-action">
        {{#link-to 'project.show' project}}Show{{/link-to}}
        {{#link-to 'project.edit' project}}Edit{{/link-to}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
