<header>
  <div class='user-profile'>
    <img class='avatar' src='https://avatars1.githubusercontent.com/u/195477?v=3&s=460' width='60' height='60'/>
    <h6>Han Loong Liauw</h6>
    <small>Software Engineer</small>
    <div class='settings'>
      <a href='#'><i class='material-icons'>settings</i></a>
    </div>
  </div>
</header>
<nav class='mdl-navigation mdl-color--grey-800'>
  {{#link-to 'dashboard.index' class='mdl-navigation__link'}}
    <i class="mdl-color-text--grey-300 material-icons">home</i> Home
  {{/link-to}}
  {{#link-to 'projects' class='mdl-navigation__link'}}
    <i class="mdl-color-text--grey-300 material-icons">home</i> Projects
  {{/link-to}}
</nav>
<div class='scoreboard'>
  <div class='score info'>
    <h3>6</h3>
    <small>votes left</small>
  </div>
  <div class='small-score success'>
    <h5>6</h5>
    <small>unlocked</small>
  </div>
  <div class='small-score default'>
    <h5>6</h5>
    <small>used</small>
  </div>
</div>
