<nav>
  <div class='nav-wrapper'>
    <ul class="left">
      <li><a class='sidebar-toggle' data-activates="slide-out" href="#"><i class="mdi-navigation-menu"></i></a></li>
    </ul>
    <a href="#" class="brand-logo center">Ithaka</a>
    <ul class="right">
      <li><a href="sass.html"><i class="mdi-action-search"></i></a></li>
      <li><a href="user.html"><i class="mdi-action-perm-identity"></i></a></li>
      <li><a href="user.html"><i class="mdi-social-notifications"></i></a></li>
      <li><a href="exit.html"><i class="mdi-action-settings-power"></i></a></li>
    </ul>
  </div>
</nav>
