{{#each areas key='@index' as |area|}}
  <div class="card">
    <div class="card-content">
      <h5 class="center-align">{{area.name}}</h5>
      {{#each ratings key='@index' as |rating|}}
        {{field/idea-rating rating=rating area=area factorArea=rating.factor.area factor=rating.factor canEdit=canEdit}}
      {{/each}}
    </div>
  </div>
{{/each}}
