<ul id="slide-out" class="side-nav fixed">
  <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
  <li>{{#link-to 'projects.new'}}Create project{{/link-to}}</li>

  <li class='hide-on-large-only'><a href="sass.html"><i class="mdi-action-search"></i> Search</a></li>
  <li class='hide-on-large-only'><a href="user.html"><i class="mdi-action-perm-identity"> User profile</i></a></li>
  <li class='hide-on-large-only'><a href="user.html"><i class="mdi-social-notifications"> Notifications</i></a></li>
  <li class='hide-on-large-only'><a href="exit.html"><i class="mdi-action-settings-power"> Sign out</i></a></li>
</ul>
