@import '../colors'

$chart-height: 200px

.dashboard
  margin: 0
  padding: 0
  .dashboard-chart
    position: relative
    text-align: center
    .chart-doughnut-inside
      position: absolute
      top: 50%
      margin-top: -35px
      font-size: 35px
      line-height: 35px
      width: 100%
      text-align: center
    .chart-title
      display: block
      margin-right: -20px
      margin-bottom: 20px
