<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class='nav-wrapper'>
    <ul class="left hide-on-large-only">
      <li><a class='sidebar-toggle' data-activates="slide-out" href="#"><i class="mdi-navigation-menu"></i></a></li>
    </ul>
    <a href="#" class="brand-logo">SixtyThree</a>
    <ul class="right">
      <li>
        {{#link-to 'search'}}
          <i class="mdi-action-search"></i>
        {{/link-to}}
      </li>
      <li>
        <a href="#!" class='dropdown-button' data-activates='dropdown1' data-beloworigin='true'><i class="mdi-social-notifications"></i></a>
      </li>
      {{#if session.isAuthenticated}}
        <li><a href="#" {{ action 'invalidateSession' }}><i class="mdi-action-settings-power"></i></a></li>
      {{/if}}
    </ul>
  </div>
</nav>
