<nav>
  <div class='nav-wrapper'>
    <ul class="left">
      <li><a class='sidebar-toggle' data-activates="slide-out" href="#"><i class="mdi-navigation-menu"></i></a></li>
    </ul>
    <a href="#" class="brand-logo center white-text">Ithaka</a>
    <ul class="right">
      <li class='hide-on-med-and-down'><a class='modal-trigger' href="#search-modal"><i class="mdi-action-search"></i></a></li>
      <li><a href="user.html"><i class="pink-text text-lighten-1 mdi-social-notifications"></i></a></li>
      <li class='hide-on-med-and-down'><a href="exit.html"><i class="mdi-action-settings-power"></i></a></li>
    </ul>
  </div>
</nav>

<!-- Modal Structure -->
<div id="search-modal" class="modal modal-fixed-footer">
  <form class='modal-content'>
    <div class='input-field'>
      <i class="mdi-action-search prefix"></i>
      <input id='search-input'type='text' value=''/>
      <label for='search-input'>Search</label>
    </div>
  </form>
</div>
