<header class='homepage'>
  <nav>
    <div class="nav-wrapper">
      {{#link-to 'home' class='brand-logo logo'}}
        {{fa-icon "lightbulb-o"}}
      {{/link-to}}
      <ul id="nav-mobile" class="right">
        <li>
        {{#link-to 'login'}}
        Login
        {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>

  <div class='title center'>
    <h1>Hisight</h1>
    <h2>Ideas worth sharing</h2>
  </div>
</header>

<section class='home laptop'>
  <div class='content'>
    <h3>What should you be working on next</h3>
    <h5>Collect, debate and priorities the thousands of ideas within your company.</h5>
  </div>
</section>

<section class='home desktop'>
  <div class='content'>
    <h3>What should you be working on next</h3>
    <h5>Collect, debate and priorities the thousands of ideas within your company.</h5>
  </div>
</section>
<section class='register'>
  <div class='row'>
    <div class="card col l6 s12 offset-l3">

      <div class='card-content'>
        <form>
          <div class='center'>
            <span class="card-title">Sign Up Form</span>
          </div>
          <div class='row'>
            <div class="input-field col s12">
              {{input id='name' name='name' placeholder='What people call you' value=model.name}}
              <label class="active" for="name">Name</label>
            </div>
            <div class="input-field col s12">
              {{input id='email' name='email' placeholder='Email used when logging into hisight' value=model.email}}
              <label class="active" for="name">Email</label>
            </div>
          </div>
        </form>
      </div>

      <div class='card-action'>
        <button {{action 'register'}} class='btn btn-flat info'>
          Lets get cracking
        </button>
      </div>
    </div>
  </div>
</section>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Hisight</h5>
        <p>Idea's worth sharing.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>Links</h5>
        <ul>
          <li>
            {{#link-to 'login'}}
              Login
            {{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Built by sixtythree.io © 2015
      <span class='right'>
        SixtyThree Australia, ABN 91126749519
      </span>
    </div>
  </div>
</footer>
