<div class='breadcrumbs grey-text'>
  {{#link-to 'dashboard.index'}}
    <i class='mdi-action-home'></i>
    Home
  {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'projects'}} Projects {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'project.show' model}} {{model.name}} {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  Factors
</div>

<div class="row">
  {{#each model.areas as |area|}}
    {{forms/area-edit area=area newFactor='newFactor'}}
  {{/each}}

  <div class='row sub-container grey lighten-4'>
    <button {{action 'save' model}} class='waves-effect waves-light btn text-white pink lighten-2'>Save changes</button>
    {{#link-to 'project.edit' model class='waves-effect waves-light btn text-white lighten-2'}}Back{{/link-to}}
    <button {{action 'newArea' model}} class='waves-effect waves-light btn text-white blue lighten-2'>Create new area</button>
  </div>
</div>
